<!-- Check for config.toml in sync with the used variable in this version -->
{{- partial "cookie_check.html" . }}

{{- if site.Params.global.cookies.enable -}}
   {{- if site.Params.global.cookies.ck_enable -}}
      <!-- CSS de cookieconsent.osano.com -->
      {{- if site.Params.global.cookies.ck_cdn -}}
         <!-- Version online -->
         <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
      {{- else -}}
         <!-- Version locale -->
         {{- $style := resources.Get "css/cookieconsent.min.css" | minify | fingerprint }}
         <link rel="stylesheet" type="text/css" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
      {{- end -}}
   {{- else -}}
      <!-- On utilise cookie-simple -->
   {{- end -}}
{{- end }}
